<div class="container-fluid">
    <div class="row">
        <div class="col-xs-2">
            <img src="/Styles/images/novanet-logo.svg" />
        </div>
        <div class="float-right">
            <div (click)="reset()">
                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
            </div>
        </div>
    </div>
</div>

<div *ngIf="!authIsSet">
    <input type="password" [(ngModel)]="authKey" />
    <button type="button" (click)="storeAuth()">Save</button>
 </div>

<div class="container-fluid" *ngIf="authIsSet">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <div class="row">
                <div class="col-xs-9 col-xs-offset-1 booth" [class.booth-user-icon]="!fileSelected" [style.background-image]="imageSrc">
                </div>
            </div>

            <div *ngIf="!isSubmitted" class="col-xs-6 col-xs-offset-3">
                <button type="button" class="button" (click)="captureImage()">Take a photo</button>
                <input type="file" #inputFile accept="image/*" />

                <div *ngIf="isRunningRecognition">
                    Processing image..
                </div>
                </div>
            <div *ngIf="!isSubmitted" class="col-xs-12">

                <div *ngIf="fileSelected && !isRunningRecognition && user && user.isExisting && !confirmItsMe">
                    <h3>Is this you?</h3>
                    <p>Name: {{user.name}}</p>
                    <p>Email: {{user.email}}</p>
                    <button class="button half" (click)="itsMe()">Yes</button>
                    <button class="button half" (click)="notMe()">No</button>
                </div>

                <div *ngIf="fileSelected && !isRunningRecognition && user && user.isExisting && confirmItsMe" class="input-group">
                    <button type="button" (click)="submit()" class="button" [disabled]="!fileSelected || !name || !email">Submit hei!</button>
                </div>

                <div *ngIf="fileSelected && !isRunningRecognition && user && !user.isExisting" class="input-group">
                    <label>Name: <input type="text" [(ngModel)]="name" class="form-control" /></label>
                    <label>Email: <input type="email" [(ngModel)]="email" class="form-control" /></label>
                    <label>Company: <input type="text" [(ngModel)]="company" class="form-control" /></label>
                    <label>Twitter handle: <input type="text" [(ngModel)]="twitterHandle" class="form-control" /></label>
                    <button type="button" *ngIf="!isSubmitting" (click)="submit()" class="button" [disabled]="!fileSelected || !name || !email">Submit hei!</button>
                    <div class="button submit-text" *ngIf="isSubmitting">Submitting...</div>
                </div>
            </div>

                

            <div *ngIf="isSubmitted" class="col-xs-12 submit-message">
                    <h3>Thanks for contributing!</h3>
                    <p><small>Welcome back.</small></p>
            </div>
            <div class="col-xs-12 error" *ngIf="error">
            Oops, something went wrong.
            </div>
        </div>
    </div>
</div>
