<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>@ViewData["Title"] - novanet</title>
    <base href="/">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Styles/upload.css" />
</head>
<body>
    @RenderBody()

    @RenderSection("Scripts", required: false)
    <script type="text/javascript" src="~/dist/inline.bundle.js"></script>
    <script type="text/javascript" src="~/dist/polyfills.bundle.js"></script>
    <script type="text/javascript" src="~/dist/vendor.bundle.js"></script>
    <script type="text/javascript" src="~/dist/main.bundle.js"></script>
</body>
</html>
