<!DOCTYPE html>
<html en="utf-8" lang="no" xmlns="http://www.w3.org/1999/xhtml" xml:lang="no">
<head>
    <meta name="robots" content="noindex" />
    <meta name="googlebot" content="noindex" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Highscore</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" type="text/css" />
    <link rel="stylesheet" href="https://bootswatch.com/lumen/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="styles.css" />
</head>
<body>
    <div ng-app="app" ng-controller="controller as vm">
        <div id="navigation">
            <a href ng-click="vm.goToPage(1)">Slideshow</a> | <a href ng-click="vm.goToPage(2)">Highscore</a> | <a href ng-click="vm.goToPage(3)">Latest</a> | <a href ng-click="vm.goToPage(4)">Split</a>
        </div>
		<div ng-if="vm.isBusyLoading" class="text-center">
			<div class="header">
				<h1>Loading..</h1>
			</div>
		</div>
        <div ng-if="!vm.isBusyLoading" ng-cloak>
			<section ng-if="vm.currentPage === 1 && vm.slideShow.length" class="text-center">
                <div class="header">
                    <h1>
                        The most
                        <span ng-if="vm.slideShow[vm.currentSlideShowPage-1].Emotion === 'Anger'">angry</span>
                        <span ng-if="vm.slideShow[vm.currentSlideShowPage-1].Emotion === 'Disgust'">disgusted</span>
                        <span ng-if="vm.slideShow[vm.currentSlideShowPage-1].Emotion === 'Fear'">afraid</span>
                        <span ng-if="vm.slideShow[vm.currentSlideShowPage-1].Emotion === 'Sadness'">sad</span>
                        <span ng-if="vm.slideShow[vm.currentSlideShowPage-1].Emotion === 'Surprise'">surprised</span>
                    </h1>
                </div>
                <div class="main text-center">               
                    <img height="700" ng-src="{{vm.slideShow[vm.currentSlideShowPage-1].BlobUri}}">                    
                </div>
				<div class="footer">
                    <h1>{{vm.slideShow[vm.currentSlideShowPage-1].User}}</h1>
                </div>
            </section>

            <section ng-if="vm.currentPage === 2">
                <div class="header text-center">					
                    <h1>Highscore</h1>
                </div>
                <div class="col-lg-4 well" ng-repeat="highscoregroup in vm.highscore" style="border: 4px solid white;">
					<div class="text-center">
						<h3><strong>{{highscoregroup.emotion}}</strong></h3>
						<img height="250" ng-src="{{highscoregroup.highscore[0].BlobUri}}" style="margin-bottom:20px;">
					</div>
                    <table class="table table-condensed table-striped" style="background-color: white;">						
                        <tr ng-repeat="list in highscoregroup.highscore" style="font-size:14px;" ng-class="{'is-bold': list.Rank === '1'}">
                            <td>{{list.Rank}}.</td>
                            <td>{{list.User}}</td>
                            <td>{{list.Score}}</td>
                        </tr>
                    </table>
                </div>
            </section>

            <section ng-if="vm.currentPage === 3" class="text-center">
				<h5 style="position:absolute; top: 0;padding:20px; right:0;">{{vm.latestPhoto.Added}}</h5>
                <div class="header">
					<h1>Latest</h1>                    
                </div>
                <div class="main">					
					<img height="400" ng-src="{{vm.latestPhoto.BlobUri}}" style="padding-bottom: 40px;">					
					<h1>{{vm.latestPhoto.Name}}</h1>                    
					<h2 style="padding-bottom: 30px;">Highest rank: <strong>{{vm.latestPhoto.HighestScore}}</strong></h2>					
					<div class="col-lg-4 col-lg-offset-4 text-center">
						<table class="table table-condensed table-striped text-left">
							<thead>
								<tr class="is-bold">
									<td>Emotion</td><td>Score</td><td class="text-right">Rank</td>
								</tr>
							</thead>
							<tbody>
								<tr><td>Anger</td><td>{{vm.latestPhoto.AngerScore}}</td><td class="text-right">{{vm.latestPhoto.RankAnger}}</td></tr>
								<tr><td>Disgust</td><td>{{vm.latestPhoto.DisgustScore}}</td><td class="text-right">{{vm.latestPhoto.RankDisgust}}</td></tr>
								<tr><td>Fear</td><td>{{vm.latestPhoto.FearScore}}</td><td class="text-right">{{vm.latestPhoto.RankFear}}</td></tr>
								<tr><td>Sadness</td><td>{{vm.latestPhoto.SadnessScore}}</td><td class="text-right">{{vm.latestPhoto.RankSadness}}</td></tr>
								<tr><td>Surprise</td><td>{{vm.latestPhoto.SurpriseScore}}</td><td class="text-right">{{vm.latestPhoto.RankSurprise}}</td></tr>
							</tbody>
						</table>					
					</div>				
				</div>				
            </section>					
		
		<section ng-if="vm.currentPage === 4" class="text-center">
			<div class="col-lg-6">
			<div class="header">
                    <h1>
                        The most
                        <span ng-if="vm.slideShow[vm.currentSlideShowPage-1].Emotion === 'Anger'">angry</span>
                        <span ng-if="vm.slideShow[vm.currentSlideShowPage-1].Emotion === 'Disgust'">disgusted</span>
                        <span ng-if="vm.slideShow[vm.currentSlideShowPage-1].Emotion === 'Fear'">afraid</span>
                        <span ng-if="vm.slideShow[vm.currentSlideShowPage-1].Emotion === 'Sadness'">sad</span>
                        <span ng-if="vm.slideShow[vm.currentSlideShowPage-1].Emotion === 'Surprise'">surprised</span>
                    </h1>
                </div>
                <div class="main text-center">               
                    <img height="775" ng-src="{{vm.slideShow[vm.currentSlideShowPage-1].BlobUri}}">                    
                </div>
				<div class="footer">
                    <h1>{{vm.slideShow[vm.currentSlideShowPage-1].User}} ({{(vm.slideShow[vm.currentSlideShowPage-1].Score*100).toFixed(3)}}%)</h1>
                </div>
			</div>
			<div class="col-lg-6">
						<h5 style="position:absolute; top: 0; padding: 10px; right:0;">{{vm.latestPhoto.Added}}</h5>
                <div class="header">
					<h1>Latest</h1>                    
                </div>
			<div class="main">					
					<img height="475" ng-src="{{vm.latestPhoto.BlobUri}}" style="padding-bottom: 10px;">					
					<h1>{{vm.latestPhoto.Name}}</h1>                    
					<h2 style="padding-bottom: 15px;padding-top: 15px;">Highest score: <strong>{{vm.latestPhoto.HighestScore}}</strong></h2>					
					<div class="col-lg-10 col-lg-offset-1 text-center">
						<table class="table table-condensed table-striped text-left" style="font-size: 20px;">
							<thead>
								<tr class="is-bold">
									<td>Emotion</td><td class="text-center">Score</td><td class="text-right">Rank</td>
								</tr>
							</thead>
							<tbody>
								<tr><td>Anger</td><td class="text-center">{{(vm.latestPhoto.AngerScore*100).toFixed(3)}}%</td><td class="text-right">{{vm.latestPhoto.RankAnger}}</td></tr>
								<tr><td>Disgust</td><td class="text-center">{{(vm.latestPhoto.DisgustScore*100).toFixed(3)}}%</td><td class="text-right">{{vm.latestPhoto.RankDisgust}}</td></tr>
								<tr><td>Fear</td><td class="text-center">{{(vm.latestPhoto.FearScore*100).toFixed(3)}}%</td><td class="text-right">{{vm.latestPhoto.RankFear}}</td></tr>
								<tr><td>Sadness</td><td class="text-center">{{(vm.latestPhoto.SadnessScore*100).toFixed(3)}}%</td><td class="text-right">{{vm.latestPhoto.RankSadness}}</td></tr>
								<tr><td>Surprise</td><td class="text-center">{{(vm.latestPhoto.SurpriseScore*100).toFixed(3)}}%</td><td class="text-right">{{vm.latestPhoto.RankSurprise}}</td></tr>
							</tbody>
						</table>					
					</div>				
				</div>	
			</div>
		</section>
        </div>
    </div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
    <script type="text/javascript" src="angular.js">
    </script>
</body>
</html>
