<!DOCTYPE html>
<html en="utf-8" lang="no" xmlns="http://www.w3.org/1999/xhtml" xml:lang="no">
<head>
    <meta name="robots" content="noindex" />
    <meta name="googlebot" content="noindex" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Highscore</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" type="text/css" />
    <link rel="stylesheet" href="https://bootswatch.com/lumen/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" src="styles.css" />
</head>
<body>
    <div class="container" ng-app="app" ng-controller="controller as vm">
        <div class="row" style="padding: 40px;" ng-if="!vm.isBusyLoading" ng-cloak>
            <section ng-if="vm.slideShow.length">
                <div class="col-lg-6 text-center">
                    <div class="imageslide">
                        <div class="slider-content">
                            <h1>
                                The most
                                <span ng-if="vm.slideShow[vm.currentSlideShowPage-1].Emotion === 'Anger'">angry</span>
                                <span ng-if="vm.slideShow[vm.currentSlideShowPage-1].Emotion === 'Contempt'">contempt</span>
                                <span ng-if="vm.slideShow[vm.currentSlideShowPage-1].Emotion === 'Disgust'">disgusted</span>
                                <span ng-if="vm.slideShow[vm.currentSlideShowPage-1].Emotion === 'Fear'">afraid</span>
                                <span ng-if="vm.slideShow[vm.currentSlideShowPage-1].Emotion === 'Happiness'">happy</span>
                                <span ng-if="vm.slideShow[vm.currentSlideShowPage-1].Emotion === 'Neutral'">neutral</span>
                                <span ng-if="vm.slideShow[vm.currentSlideShowPage-1].Emotion === 'Sadness'">sad</span>
                                <span ng-if="vm.slideShow[vm.currentSlideShowPage-1].Emotion === 'Surprise'">surprised</span>
                            </h1>
                            <img height="400" ng-src="{{vm.slideShow[vm.currentSlideShowPage-1].BlobUri}}">
                            <br>
							<h2>{{vm.slideShow[vm.currentSlideShowPage-1].User}}</h2>
                        </div>
                    </div>
                </div>
				<div class="col-lg-6 text-center">
					<h1>Sist lagt til</h1>
					<img height="400" ng-src="{{vm.lastPhoto.BlobUri}}"><br>
					<h5>{{vm.lastPhoto.Name}}<br>{{vm.lastPhoto.Added}}</h5>
					<h5>Scoret høyest på: <strong>{{vm.lastPhoto.HighestScore}}</strong></h5>
				</div>
            </section>
            <section ng-if="vm.highscore.length">
                <div class="col-lg-12 text-center">
					<br>
					<br>
                    <h1>Highscore</h1>
                </div>
                <div class="col-lg-4" ng-repeat="highscoregroup in vm.highscore">
                    <h3>{{highscoregroup.emotion}}</h3>
                    <table class="table table-condensed table-striped">
                        <tr ng-repeat="list in highscoregroup.highscore">
                            <td>{{list.Rank}}.</td>
                            <td>{{list.User}}</td>
                            <td>{{list.Score}}</td>
                        </tr>
                    </table>
                </div>
            </section>
        </div>
    </div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
    <script type="text/javascript" src="angular.js">
    </script>
</body>
</html>
