[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}   

html {
    padding-left: 20px;
    padding-right: 20px;
}

h1 {
    margin: 0;
}
.is-bold {
	font-weight: bold;
}

#navigation {
    padding: 10px;
    position: absolute;
    left: 0;
    margin-left: 50px;
    z-index: 1;
}

.header {
    clear: both;
    width: 100%;
    display: block;
    padding: 20px;
    padding-top: 50px;
}

.main {
    clear: both;
    display: block;
}

.footer {
    clear: both;    
    width: 100%;
    display: block;
    padding: 10px;
}

.fa-star {
	color: goldenrod!important;
	
}
